<div class="app-body">
	<ng-view class="app-content">		
			<%= current_user.telephone %>	
	</ng-view>
</div>

<div class="sidebar sidebar-left" toggleable parent-active-class="sidebar-left-in" id="mainSidebar">
	<h1 class="app-name"></h1>
</div>


